predict_yaml_test.csv
predict_yaml_test_classes.csv
predict_yaml_train.csv
predict_yaml_train_classes.csv
rip.it.test.csv
rip.it.train.csv
rip.it.test.tsv
rip.it.train.tsv
t29_default_model.txt
t29res.R
t29res.accuracy.pdf
t29res.accuracy.png
t29res.autosave.model.h5
t29res.loss.pdf
t29res.loss.png
t29res.model.h5
t29res.model.json
t29res.model.yaml
t29res.pyc
t29res.training.log
test_classes.csv
train_classes.csv
